/*导航*/
.dd_nav ul{background:url("../images/bg_dd_nav_1x45.png") repeat-x;border-bottom:1px solid #c86400;height:45px}
.dd_nav ul li{display:inline-block;color:#fff;text-align:center;padding-top:9px;font-size:16px;font-weight:bold;width:32%;}
.dd_nav ul li a{color: #fff;}
.dd_nav ul li .nav_current{display:block;color:#c86400;height:28px;margin:0 5px;padding-top:8px;background:#fff;border:1px solid #c86400;border-bottom:none}
.dd_nav_line{background:url(../images/bg_nav_line_2x35.png) no-repeat right 10px}
.user_login_msg{padding:10px 15px 0}
/*分类*/
.tab_index_catetory{padding:0 10px;background-color: #fff;}
.tab_index_catetory li.category_li{border-bottom: 1px solid #dcdcdc;}
.tab_index_catetory li.category_li_open{background-color: #f8f8f8;}
.tab_index_catetory li.category_li:last-child{border-bottom: 0;}
.tab_index_catetory li.category_li li{border-top: 1px solid #dcdcdc;background-color: #ececec;height: 30px;padding-left: 0.1%;min-width: 300px;}
.tab_index_catetory li.category_li li a{display: block;float: left;height: 30px;line-height: 30px;width: 33%;text-align: center;border-left: 1px solid #dcdcdc;}
.tab_index_catetory li.category_li li a:first-child{border-left: 0;}
.tab_index_catetory .category_li_a{display: block;position: relative;height: 60px;padding-left: 53px;background: url(../images/list_upd_bg.png) right -14px no-repeat;}
.tab_index_catetory .category_li_open .category_li_a{background-position: right 26px;}
.tab_index_catetory .category_li_a h3{height: 24px;line-height: 24px;font-weight: normal;font-size: 19px;color: #646464;padding-top: 7px;}
.tab_index_catetory .category_li_a span{font-size: 12px;color: #969696;}
.tab_index_catetory .category_li_a img{width: 26px;height: 26px;position: absolute;left: 18px;top: 12px;}
