@charset "utf-8";
/*css reset*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body{ font-size:15px; font-family:'Microsoft Yahei','Simsun'; color:#444; line-height:150%; background:#f0f0f0; -webkit-text-size-adjust:none; min-width:320px;}
h1,h2,h3,h4,h5,h6{ font-size:100%; }
ul,li,ol{ list-style:none;}
img{ vertical-align:middle;border:0;}
.fl{ float:left;}
.fr{ float:right;}
.clear{ clear:both;}
a{ text-decoration:none; color:#646464}
a:hover,a:active,a:focus{ text-decoration: none;}
b{ font-weight:normal;}
.hidden{display:none}
/*-index-*/
.dd_hd{ height:23px; overflow:hidden; padding:10px;}
.dd_logo{ display:block; background:url(../images/index_ico.png) no-repeat -2px -4px; width:81px; height:23px;}
.top_nav{ overflow:hidden;}
.top_nav li{ float:left;}
.top_nav li a span{ display:block; width:30px; height:25px; background:url(../images/index_ico.png) no-repeat; text-indent:-9999px; margin-left:10px;}
.top_nav li a span.dd_category{ background-position:-156px -4px;}
.top_nav li a span.dd_cart{ background-position:-190px -4px;}
.top_nav li a span.dd_my{ background-position:-223px -4px;}
.top_nav li a span.dd_search{ background-position:-121px -4px;}
.top_nav li a span.dd_guan{ background-position:-90px -3px;}
.search_field input{ float:left;}
.search_field{ width:300px; margin:0 auto}
.search_field input[type="text"]{background:none; background-color:white; width:228px; height:38px; font-size:15px; color:#969696; padding:0px 0px 0px 10px; border:1px solid #ff9600; margin-left:0; border-radius:0}
.search_field input[type="submit"]{ background:url(../images/index_ico.png) no-repeat 0 -73px; width:60px; height:40px; border:none; border-radius:0}
.suggest{ display:none; position:absolute; z-index:9999; top:259px; background:#f0f0f0; width:100%;left: 0;}
.suggest ul{width: 300px; font-size: 15px; color: #646464; margin: 0 auto;background: #fff;}
.suggest ul li{ line-height:38px; height:38px; background:url(../images/li_line.jpg) left bottom repeat-x; overflow:hidden; padding:0 10px; cursor:pointer;}
.suggest ul li span:first-child{ float:left; color:#323232;}
.suggest ul li span:last-child{ float:right; color:#969696}
.suggest ul li.on{ color:#e10000; background:#fff;}
.suggest ul li.close{ text-align:center; }
.downloadbar{ overflow:hidden; height:70px; width:100%; background:#323232;}
.downloadbar ul{ float:left; overflow:hidden; padding:10px 0}
.downloadbar ul li{ float:left; border-right:1px solid #969696; height:50px; line-height:50px; font-size:18px;}
.downloadbar ul li:last-child{ border:none; }
.downloadbar ul li a{ color:#f0f0f0; }
.btn1,.bn1{ background:url(../images/logo_icon.png) no-repeat 15px 7px; padding:0 15px 0 60px; display:block;}
.btn2,.bn2{ background:url(../images/logo_icon.png) no-repeat 15px -56px; padding:0 0 0 60px; display:block;}
.closebtn{ float:right; background:url(../images/close.png) center center no-repeat; height:32px; width:32px; display:block;}
.download_btn ul{ overflow:hidden; width:95%; margin:20px auto 10px}
.download_btn ul li{ float:left; height:50px; line-height:50px; border:1px solid #dcdcdc; margin-right:10px; background:#fff; border-radius: 5px; width:47%; text-align:center;}
.download_btn ul li:last-child{ margin-right:0;}
.ft{ background:#e1e1e1; overflow:hidden; padding:10px 0 30px; clear:both}
.search_ft input{ float:left;}
.search_ft input[type="text"]{ width: 228px; height: 38px;font-size: 15px;color: #969696;padding-left: 10px;border: 1px solid #afafaf;margin-left: 0;border-radius: 0;}
.search_ft input[type="submit"]{ background:url(../images/index_ico.png) no-repeat 0 -121px; width:60px; height:40px; border:none; border-radius:0;}
.search_ft{ overflow:hidden; width:300px; margin:0 auto;}
.ft_nav{ clear:both; padding:10px}
.ft_nav p{ text-align:center; padding-bottom:10px;}
.ft_nav p span{ margin-right:10px; font-size:15px; color:#323232; padding:0 10px;}
.ft_nav p span.site_now{ border-bottom:2px solid #fd9a0c;}
.status_bar{ height:30px; line-height:30px; background:#afafaf; color:#fff; padding:0 10px; overflow:hidden;}
.status_bar a{ margin-left:5px; color:#fff;}
.goto_top{ background:url(../images/goto_top.png) no-repeat left center; padding-left:15px;}
.copyright{ margin-top:10px;}
.copyright p{ text-align:center; color:#969696; font-size:12px;}